@if (isAdding()) {
  <div class="flex flex-col gap-3 min-w-85 shrink-0 border-2 border-secondary border-dashed p-5 bg-primary">
    <input 
      type="text" 
      placeholder="Column title" 
      class="w-full p-3 border-2 border-secondary rounded-sm text-lg"
      [(ngModel)]="columnTitle"
      (keydown.enter)="handleAddColumn()"
      (keydown.escape)="cancelAdd()"
      autofocus
    />
    <div class="flex items-center gap-3">
      <button
        class="w-full bg-accent border-2 border-secondary rounded-sm shadow-[3px_3px_0_0_var(--color-secondary)] py-2 text-lg hover:translate-x-0.5 hover:translate-y-0.5 hover:shadow-[2px_2px_0_0_var(--color-secondary)] transition-all cursor-pointer"
        (click)="handleAddColumn()"
      >
        Add Column
      </button>
      <div 
        class="rounded-full w-11 h-10 bg-scarlet-rush flex items-center justify-center cursor-pointer shrink-0" 
        (click)="cancelAdd()"
      >
        <ng-icon name="heroXMark" size="1.5rem" color="white"></ng-icon>
      </div>
    </div>
  </div>
} @else {
  <button
    class="flex items-center justify-center w-75 max-h-[80vh] bg-primary border-2 border-secondary border-dashed hover:bg-sky-mint cursor-pointer transition-colors shrink-0 h-full"
    (click)="isAdding.set(true)"
  >
    <ng-icon name="heroPlus" size="3rem"></ng-icon>
  </button>
}