<main class="h-screen p-10 w-full">
  <div class="h-full grid grid-cols-[20rem_1fr] gap-8 w-full">
    <!-- Sidebar -->
    <app-sidebar
      (generateTestDataClicked)="generateTestData()"
      (login)="handleLogin()"
      (logout)="handleLogout()"
    />

    <!-- Main Content Area -->
    <div class="flex flex-col gap-6 w-full min-w-0 bg-amber-600">
      @if (selectedProject(); as project) {
        <div
          class="bg-primary border-2 border-secondary rounded-lg shadow-[7px_7px_0_0_var(--color-shadow)] px-8 py-6 flex flex-col min-h-0 h-full"
        >
          <app-board-header
            [title]="project.title"
            [owner]="project.owner"
            [collaborators]="mockCollaborators()"
            (inviteClicked)="handleInvite()"
          />

          <div
            class="flex gap-6 mt-6 overflow-x-auto min-w-0 pb-10 columns-container h-full"
            appDragScroll
            cdkDropListGroup
          >
            @for (column of mockColumns(); track column.id) {
              <app-column
                [columnId]="column.id"
                [title]="column.title"
                [color]="column.color"
                [cards]="column.cards"
                (menuClicked)="handleColumnMenu(column.id)"
                (addCard)="handleAddCard(column.id, $event)"
                (cardClicked)="handleCardClick(column.id, $event)"
                (cardDropped)="handleCardDrop($event)"
              />
            }

            <!-- Add Column Button -->
            <app-add-column-button (clicked)="handleAddColumn($event)" />
          </div>
        </div>
      } @else {
        <div
          class="bg-primary border-2 border-secondary rounded-lg shadow-[7px_7px_0_0_var(--color-shadow)] p-6 flex-1 flex items-center justify-center"
        >
          <p class="text-text-secondary text-xl">Select a project to get started</p>
        </div>
      }
    </div>
    <!-- Card Modal -->
    @if (selectedCardId() && selectedColumnId()) {
      <app-card-modal
        [columnId]="selectedColumnId()!"
        [cardId]="selectedCardId()!"
        (closed)="closeModal()"
      />
    }
  </div>
</main>
