@import "tailwindcss";

@theme {
  --color-primary: #FFF1E8;
  --color-secondary: #000000;
  --color-accent: #FFDC02;
  --color-text-primary: #271F18;
  --color-text-secondary: #413B37;
  --color-sky-mint: #72CDDA;
  --color-neon-leaf: #DCF45F;
  --color-scarlet-rush: #F34430;
}